@using Microsoft.AspNetCore.Antiforgery
@using WebAuthn.Net.Demo.Mvc.Constants
@inject IAntiforgery Antiforgery
@{
    ViewData["Title"] = "Webauthn.Net Usernameless";
    ViewData["Flow"] = Flows.Usernameless;
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<partial name="_RegisterRow"/>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Usernameless Authentication</h2>
                <form id="webauthn-usernameless" class="p-1">
                    <input id="webauthn-usernameless-request-token" type="hidden" value="@requestToken"/>
                    <div class="d-grid gap-2 col-lg-6 col-sm-12 mx-auto mt-3">
                        <button type="submit" id="webauthn-usernameless-submit" class="btn btn-primary">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<partial name="_LogoutRow"/>

@section Scripts
{
    <script defer type="text/javascript" src="~/js/views/usernameless.js"></script>
    <script defer type="text/javascript" src="~/js/views/register.js"></script>
}
