@using WebAuthn.Net.Sample.Mvc.Utils
@{
    var userName = Context.User.Identity?.Name;
    var showLogoutButton = !string.IsNullOrWhiteSpace(userName);
    var passwordlessActive = Url.ActiveClassIfMatched("Passwordless", "Index");
    var usernamelessActive = Url.ActiveClassIfMatched("Usernameless", "Index");
}
<header class="mb-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">WebAuthn.Net Example</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item p-1">
                        <a class="nav-link @passwordlessActive" asp-controller="Passwordless" asp-action="Index">
                            Passwordless
                        </a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link @usernamelessActive" asp-controller="Usernameless" asp-action="Index">
                            Usernameless
                        </a>
                    </li>
                </ul>
                <div class="d-flex" role="search">
                    @if (showLogoutButton)
                    {
                        <span class="navbar-text me-2">Authenticated as: @userName</span>
                        <a class="btn btn-primary" role="button" asp-controller="Fido" asp-action="Logout">Logout</a>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>
