
<header class="mb-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">WebAuthn.Net Example</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @if (ViewData["ShowLogoutButton"] is false)
                {
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item p-1">
                            <a class="nav-link" href="/Register">Register</a>
                        </li>
                        <li class="nav-item p-1">
                            <a class="nav-link" href="/Passwordless">Passwordless Example</a>
                        </li>
                        <li class="nav-item p-1">
                            <a class="nav-link" href="/Userless">Userless Example</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item p-1">
                            <a class="nav-link active" href="/Fido/Authenticated">Secure page</a>
                        </li>
                    </ul>
                    <div class="d-flex" role="search">
                        <a class="btn btn-primary" role="button" href="/Fido/Logout">Logout</a>
                    </div>
                }
            </div>
        </div>
    </nav>
</header>
