@{
    var userName = Context.User.Identity?.Name;
    var showLogoutButton = !string.IsNullOrWhiteSpace(userName);
}
<header class="mb-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">WebAuthn.Net Example</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item p-1">
                        <a class="nav-link" href="/Passwordless">Passwordless Example</a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link" href="/Usernameless">Usernameless Example</a>
                    </li>
                </ul>
                <div class="d-flex" role="search">
                    @if (showLogoutButton)
                    {
                        <span class="navbar-text me-2">Authenticated as: @userName</span>
                        <a class="btn btn-primary" role="button" href="/Fido/Logout">Logout</a>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>
