<footer class="mt-auto text-center p-3">
    <p>
        <img src="~/brand.svg" width="30" height="24" role="img" alt="Dodo engineering logo" class="d-inline-block align-text-top"/>
        <a href="https://dodo.dev" target="_blank">Dodo Engineering</a>
        © 2023
    </p>
</footer>
