<footer class="mt-auto text-center p-3">
    <p>
        <img src="~/brand.svg" width="30" height="24" role="img" alt="Dodo Brands Logo" class="d-inline-block align-text-top"/>
        <a href="https://dodobrands.io" target="_blank">Dodo Brands</a>
        © 2023 - @DateTime.Now.Year
    </p>
</footer>
