@{
    static string ActiveClassIfMatched(IUrlHelper urlHelper, string controller)
    {
        ArgumentNullException.ThrowIfNull(urlHelper);
        var result = "active";
        var controllerName = urlHelper.ActionContext.RouteData.Values["controller"]?.ToString();

        if (string.IsNullOrEmpty(controllerName))
        {
            return "";
        }

        if (controllerName.Equals(controller, StringComparison.OrdinalIgnoreCase))
        {
            return result;
        }

        return "";
    }

    var passwordlessActive = ActiveClassIfMatched(Url, "Passwordless");
    var usernamelessActive = ActiveClassIfMatched(Url, "Usernameless");
}
<header class="mb-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">WebAuthn.Net Example</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item p-1">
                        <a class="nav-link @passwordlessActive" asp-controller="Passwordless" asp-action="Index">
                            Passwordless
                        </a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link @usernamelessActive" asp-controller="Usernameless" asp-action="Index">
                            Usernameless
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
