<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" class="h-100 w-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebAuthn.Net.Sample.Mvc</title>
    <partial name="_Favicon"/>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body class="w-100 h-100">
<div class="d-flex w-100 h-100 mx-auto flex-column">
    <partial name="_Header"/>
    <div class="container text-center">
        @RenderBody()
    </div>
    <partial name="_Footer"/>
</div>

<script src="~/js/lib.js" type="text/javascript"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
