name: Release and Publish

on:
    release:
        types: [ published ]

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            DOTNET_NOLOGO: true
            DOTNET_CLI_TELEMETRY_OPTOUT: true
        environment: Production
        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    ref: ${{ github.sha }}
            -   name: Set release version
                run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
            -   name: Setup .NET SDK 6.0
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: 6.0.422
                    source-url: ${{ secrets.NUGET_SOURCE }}
                env:
                    NUGET_AUTH_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
            -   name: Setup .NET SDK 8.0
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: 8.0.205
                    source-url: ${{ secrets.NUGET_SOURCE }}
                env:
                    NUGET_AUTH_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
            -   name: Build solution
                run: dotnet build --configuration Release
            -   name: Run tests
                run: dotnet test --configuration Release
            -   name: Pack WebAuthn.Net
                run: dotnet pack src/WebAuthn.Net/WebAuthn.Net.csproj --output out --configuration Release
            -   name: Pack WebAuthn.Net.OpenTelemetry
                run: dotnet pack src/WebAuthn.Net.OpenTelemetry/WebAuthn.Net.OpenTelemetry.csproj --output out --configuration Release
            -   name: Pack WebAuthn.Net.Storage.InMemory
                run: dotnet pack src/WebAuthn.Net.Storage.InMemory/WebAuthn.Net.Storage.InMemory.csproj --output out --configuration Release
            -   name: Pack WebAuthn.Net.Storage.MySql
                run: dotnet pack src/WebAuthn.Net.Storage.MySql/WebAuthn.Net.Storage.MySql.csproj --output out --configuration Release
            -   name: Pack WebAuthn.Net.Storage.PostgreSql
                run: dotnet pack src/WebAuthn.Net.Storage.PostgreSql/WebAuthn.Net.Storage.PostgreSql.csproj --output out --configuration Release
            -   name: Pack WebAuthn.Net.Storage.SqlServer
                run: dotnet pack src/WebAuthn.Net.Storage.SqlServer/WebAuthn.Net.Storage.SqlServer.csproj --output out --configuration Release
            -   name: Publish package WebAuthn.Net
                run: dotnet nuget push out/WebAuthn.Net.${{ env.RELEASE_VERSION }}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_PUBLISH_KEY }}
            -   name: Publish package WebAuthn.Net.OpenTelemetry
                run: dotnet nuget push out/WebAuthn.Net.OpenTelemetry.${{ env.RELEASE_VERSION }}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_PUBLISH_KEY }}
            -   name: Publish package WebAuthn.Net.Storage.InMemory
                run: dotnet nuget push out/WebAuthn.Net.Storage.InMemory.${{ env.RELEASE_VERSION }}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_PUBLISH_KEY }}
            -   name: Publish package WebAuthn.Net.Storage.MySql
                run: dotnet nuget push out/WebAuthn.Net.Storage.MySql.${{ env.RELEASE_VERSION }}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_PUBLISH_KEY }}
            -   name: Publish package WebAuthn.Net.Storage.PostgreSql
                run: dotnet nuget push out/WebAuthn.Net.Storage.PostgreSql.${{ env.RELEASE_VERSION }}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_PUBLISH_KEY }}
            -   name: Publish package WebAuthn.Net.Storage.SqlServer
                run: dotnet nuget push out/WebAuthn.Net.Storage.SqlServer.${{ env.RELEASE_VERSION }}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_PUBLISH_KEY }}
